<div class="card shadow-sm mb-4">
  <div class="card-header bg-primary text-white">
    <h5 class="mb-0">Organization Details</h5>
  </div>
  <div class="card-body">
    <dl class="row mb-0">
      <dt class="col-sm-4">Name</dt>
      <dd class="col-sm-8"><%= @organization.name.presence %></dd>

      <dt class="col-sm-4">Description</dt>
      <dd class="col-sm-8"><%= @organization.description.presence %></dd>

      <dt class="col-sm-4">Phone</dt>
      <dd class="col-sm-8"><%= @organization.phone.presence %></dd>

      <dt class="col-sm-4">Email Domain</dt>
      <dd class="col-sm-8"><%= @organization.email_domain.presence %></dd>
    </dl>
  </div>
</div>
